body {
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.wrapper {
  max-width: 900px;
  margin: 40px auto;
}

h1,h2,h3 {
  color: #836464;
}

a {
  color: #cb2789;
}

a:hover, a:active {
  color: purple;
}

.navbar {
  padding: 2em;
  text-align: center;
}

.navbar-item {
  padding: 1em;
  margin: auto;
}
